<th>{{orderItem.quantity}}</th>
<th>{{orderItem.item.name}}</th>
<th>{{orderItem.item.price}}</th>
<th>{{orderItem.item.price * orderItem.quantity}}</th>
<th><button (click)="addItem()">+</button></th>
<th><button (click)="removeItem()">-</button></th>


