<div class="basketSummary">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
        <h1>Your basket</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table>
            <tr>
              <th>Quantity</th>
              <th>Name</th>
              <th>Price</th>
              <th>Worth</th>
            </tr>
            <tr *ngFor="let orderItem of orderedItems | async">
              <app-basket-item [orderItem]="orderItem"></app-basket-item>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button (click)="continueShopping()">Continue shopping</button>
        </div>
        <div class="col">
          <button (click)="placeOrder()">Place order</button>
        </div>
      </div>
    </div>
  </div>
</div>
