<div>
  <h1>Manage Orders</h1>
  <div class="row">
    <div id="allOrd" class="col-4 orderCategory" (click)="clearOrderFilter()">
      <h3>All</h3>
    </div>
    <div id="placedOrd" class="col-4 orderCategory" (click)="setOrderFilter(this.orderTypes.PLACED)">
      <h3>Placed</h3>
    </div>
    <div id="finishedOrd" class="col-4 orderCategory" (click)="setOrderFilter(this.orderTypes.FINISHED)">
      <h3>Finished</h3>
    </div>
  </div>

  <div *ngFor="let order of orders | async">
    <app-order-detail [order]="order"></app-order-detail>
  </div>
</div>
