<div class="row">
  <div class="col">
    <form [formGroup]="form">

      <h1>Create account</h1>

      <div>
        <label for="name">Username:</label>
        <input type="text" formControlName="username" id="name">
      </div>

      <div>
        <label for="pass">Password:</label>
        <input type="text" formControlName="password" id="pass">
      </div>

    </form>

    <button (click)="registerUser(form.value)">Register</button>

    <div *ngIf="user">
      <label>Registered User:</label><br>
      <label>{{user.username}}</label><br>
      <label>{{user.password}}</label>
    </div>

  </div>
</div>
