<div class="orderDetail" *ngIf="order">
  <div class="row">
    <div class="col">
      <label>{{order.id_}}</label>
    </div>
    <div class="col">
      <label>{{order.orderInfo.name}}</label><br>
      <label>{{order.orderInfo.address}}</label>
    </div>
    <div class="col">
      <div *ngFor="let orderItem of order.orderItems">
        <label>{{orderItem.quantity}}x  {{orderItem.item.name}}</label>
      </div>
    </div>
    <div class="col">
      <label>{{getStatus()}}</label>
      <select id="statusSelect" (change)="changeState($event.target.value)" #statusSelect>
        <option id="placedOption" value="{{stateType.PLACED}}">Placed</option>
        <option id="finishedOption" value="{{stateType.FINISHED}}">Finished</option>
      </select>
    </div>
    <div class="col">
      <label>{{order.username}}</label>
    </div>
    <div class="col">
      <label>{{getFullPrice()}}</label>
    </div>
  </div>
</div>
