.center-block {
  text-align: center;
  margin: auto;
  max-width: 400px;
}


.control-label.required:after {
  color: #d00;
  content: "*";
  position: inherit;
  margin-left: 5px;
  top:7px;
}

.error-msg {
  color: #a94442;
}

.fix-error-icon {
  top: 27px;
}
