<div class="orderDetail" *ngIf="order">
  <div class="row">
    <div class="col">
      <label>{{order.orderInfo.name}}</label><br>
      <label>{{order.orderInfo.address}}</label>
    </div>
    <div class="col">
      <div *ngFor="let orderItem of order.orderItems">
        <label>{{orderItem.quantity}}x  {{orderItem.item.name}}</label>
      </div>
    </div>
    <div class="col">
      <label>{{orderPrice()}}</label>
    </div>
    <div class="col">
      <label>{{orderState()}}</label>
    </div>
  </div>
</div>
